extends layout

block content
  
  include header.pug
  
  h1 #[a(href='/') #{headmast}]
  p A tech test that displays the latest, and searches through, FT.com headlines
  br
  
  .o-grid-row
    div(data-o-grid-colspan='3') 
    div(data-o-grid-colspan='one-half')  
      form(method='POST' action='/')
        input#o-forms-standard.o-forms__text(type='text', placeholder='Input your topic', name='searchString', required='')
        span 
        button.o-buttons.o-buttons--standout.o-buttons--big(type='submit') Search FT.com headlines
          
      if errors
        ul
          for error in errors
            li!=error.msg
      
      br

  each item in results
    - var itemURL = 'http://www.ft.com/content/' + item.id + '?FTCamp=engage/CAPI/webapp/Channel_sliute//B2B'
    div(data-o-grid-colspan='one-third center')
      .o-teaser.o-teaser--small(data-o-component='o-teaser')
        .o-teaser__content
          //- .o-teaser__meta
          //-   a.o-teaser__tag(href='#') FT Headliner
          h2.o-teaser__heading
            a(href=itemURL) #{item.title.title}
          p.o-teaser__standfirst #{item.summary.excerpt}
          //- .o-teaser__timestamp.o-teaser__timestamp--inprogress 
          //-   time.o-date(data-o-component='o-date', datetime=item.lifecycle.lastPublishDateTime) #{item.lifecycle.lastPublishDateTime}

  include footer.pug
  
