extends layout

block content
  
  include header.pug
  
  .o-forms__wrapper--highlight
    #status(align='center')
      if recvd
        p.o-typography-lead(style='color:#505050;') Your search results for '#{recvd}':
      else
        p.o-typography-lead(style='color:#505050;') The latest FT.com headlines
  br
  br
      
  each item in results
    - var itemURL = 'http://www.ft.com/content/' + item.id + '?FTCamp=engage/CAPI/webapp/Channel_sliute//B2B'
    div(data-o-grid-colspan='one-third center')
      .o-teaser.o-teaser--small(data-o-component='o-teaser')
        .o-teaser__content
          //- .o-teaser__meta
          //-   a.o-teaser__tag(href='#') FT Headliner
          h2.o-teaser__heading
            a(href=itemURL) #{item.title.title}
          p.o-teaser__standfirst #{item.summary.excerpt}
          //- .o-teaser__timestamp.o-teaser__timestamp--inprogress 
          //-   time.o-date(data-o-component='o-date', datetime=item.lifecycle.lastPublishDateTime) #{item.lifecycle.lastPublishDateTime}

  include footer.pug
  
