extends layout

block content
  
  include header.pug
  
  .o-forms__wrapper--highlight
    #status(align='center')
      if recvd && (recvd !== "")
        p.o-typography-lead(style='color:#505050;') Your search results for '#{recvd}':
      else
        p.o-typography-lead(style='color:#505050;') The latest FT.com headlines
  br
  br
  
  form(method='POST', action='/')
    input(type='hidden', name='searchString', value=recvd)
    |  
    input(type='hidden', name='page', value=prevPage)
    |  
    button(type='submit') Prev
  
  form(method='POST', action='/')
    input(type='hidden', name='searchString', value=recvd)
    |  
    input(type='hidden', name='page', value=nextPage)
    |  
    button(type='submit') Next
  
  br
  
  | Page: #{page}  
  
  br
      
  each item in results
    - var itemURL = 'http://www.ft.com/content/' + item.id + '?FTCamp=engage/CAPI/webapp/Channel_sliute//B2B'
    - var itemDateTime = (new Date(item.lifecycle.lastPublishDateTime)).toString().slice(4,21)
    .center-div
      .o-teaser.o-teaser--small(data-o-component='o-teaser')
        .o-teaser__content
          h2.o-teaser__heading
            a(href=itemURL) #{item.title.title}
          p.o-teaser__standfirst #{item.summary.excerpt}
          .o-teaser__timestamp 
            time.o-date(data-o-component='o-date', datetime=item.lifecycle.lastPublishDateTime) #{itemDateTime}

  include footer.pug
  
