extends layout

block content
  h1 #[a(href='/') #{headmast}]
  p A tech test displaying the latest article and blog headlines from FT.com.
  br
    
  form(method='POST' action='/')
    input#searchString.form-control(type='text', placeholder='Input your topic', name='searchString')
    button.btn.btn-primary(type='submit') Search FT.com headlines
      
  if errors
    ul
      for error in errors
        li!=error.msg
          
  br
  
  ul  
    each item in results
      li
        - var itemURL = 'http://www.ft.com/content/' + item.id + '?FTCamp=engage/CAPI/webapp/Channel_sliute//B2B'
        h3 #[a(href=itemURL) #{item.title.title}]
        p #{item.summary.excerpt}
