.container
  form.inner-div(method='POST', action='/')
    input(type='hidden', name='searchString', value=recvd)
    |
    input(type='hidden', name='page', value=prevPage)
    |
    if page === '1'
      button.o-buttons.o-buttons--big(type='submit', title='Previous page', disabled='disabled') Prev
    else
      button.o-buttons.o-buttons--big(type='submit', title='Previous page') Prev
  
  button.inner-div.o-buttons.o-buttons--big(title="Page number", disabled="disabled") #{page}
  
  form.inner-div.sideBySide(method='POST', action='/')
    input(type='hidden', name='searchString', value=recvd)
    |
    input(type='hidden', name='page', value=nextPage)
    |
    if page === lastPage
      button.o-buttons.o-buttons--big(type='submit', title="Next page", disabled='disabled') Next
    else
      button.o-buttons.o-buttons--big(type='submit', title="Next page") Next
